*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'esp bold';
    src: url('../Librerias/esp_bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'monserrate';
    src: url('../Librerias/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

body{
    /* background-color: gray;
    background-size: 100vw 100vh;
    background-repeat: no-repeat; */

    height: 100vh;
    font-family:monserrate;
    background-color: #000000;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}